config mqtt_subscriber 'mqtt_sub_sct'
    option enable '0'
    option broker '192.168.10.103'
    option port '1883'
    option use_tls '0'
    option cert_file ''
    option use_password '0'
    option password ''
    option username ''

config event
    option topic 'test'
    option parameter 'temperature'
    option expected_value '1'
    option operation '2'
    option smtp_ip 'smtp.gmail.com'
    option smtp_port '465'
    option username 'redacted'
    option password 'redacted'
    option sender 'redacted'
    list recipients 'redacted'