config mqtt_subscriber 'mqtt_sub_sct'
    option enable '1'
    option broker '192.168.10.103'
    option port '1883'
    option use_tls '0'
    option cert_file ''
    option use_password ''
    option password ''
    option username ''

config event
    option topic 'test'
    option parameter 'temperature'
    option expected_value '1'
    option smtp_ip '192.168.10.103'
    option smtp_port '25'
    option username 'incoming'
    option password 'password'
    option sender 'root@localhost'
    list recipients 'incoming@192.168.10.103'